## Functions

In [1]:
def fuct_name() :
    # function body 
    # return statement if any
    
# it will give error as we didn't writtten any body code for function

SyntaxError: incomplete input (3306138534.py, line 5)

In [2]:
def fuct_name() :
    # function body 
    # return statement if any
    pass # a keyword to avoid above error

In [3]:
def fuct_name() :
    print("This is function body")
    
fuct_name()    # function call

This is function body

In [4]:
type(fuct_name())

This is function body

NoneType

In [5]:
fuct_name() + "hello" # will give error as can't concatenate noneType with string

This is function body

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [6]:
def test():
    return "This is my return statement"

print(test()) #now the data type will be string as we geting it from 
print(type(test()))

This is my return statement
<class 'str'>

In [7]:
test() + " Concatenated String"

'This is my return statement Concatenated String'

In [8]:
def test2() :
    return "PW", 34,89.70, True, 4-3j

test2()

('PW', 34, 89.7, True, (4-3j))

In [9]:
type(test2())

tuple

In [10]:
def test3() :
    return [1,3,6,34,98.45], (5,3,35,6), {4,6,3,5,7,4,6}, {'k1':1, 'k2':2}

In [11]:
test3()

([1, 3, 6, 34, 98.45], (5, 3, 35, 6), {3, 4, 5, 6, 7}, {'k1': 1, 'k2': 2})

In [12]:
type(test3())

tuple

In [13]:
a,b,c,d = test3()

In [14]:
print(a)
print(b)
print(c)
print(d)

[1, 3, 6, 34, 98.45]
(5, 3, 35, 6)
{3, 4, 5, 6, 7}
{'k1': 1, 'k2': 2}

In [15]:
def test4() :
    a = 5+6/7
    return a

In [16]:
test4()

5.857142857142857

In [17]:
def test5(arg1, arg2, arg3) :
    a= arg1 + arg2 / arg3
    return a

In [18]:
test5()  # will ask for arguments

TypeError: test5() missing 3 required positional arguments: 'arg1', 'arg2', and 'arg3'

In [19]:
test5(3,5,4)

4.25

In [20]:
test5(5, 6, 'pw')

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [21]:
def test6(a,b) :
    return a+b

In [22]:
test6(3,4)

7

In [23]:
test6('pw','skills')

'pwskills'

In [24]:
test6(4, 'pw')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [25]:
test6([1,4,2,6], [2,7,42])

[1, 4, 2, 6, 2, 7, 42]

In [26]:
l = [1,4,6,7.3,True, 'pwskills', [3,12,5]]

In [27]:
# writing a function which will return a list having all the integers in the list'l'
l1 = []
for i in l:
    if type(i) == int or type(i) == float :
        l1.append(i)
        
l1

[1, 4, 6, 7.3]

In [28]:
def test7(listArg):
    l1 = []
    for i in listArg:
        if type(i) == int or type(i) == float :
            l1.append(i)
    return l1

In [29]:
test7(l)

[1, 4, 6, 7.3]

In [30]:
def test8(lis):
    l = []
    for i in lis:
        if type(i)==list:
            for j in i:
                if type(j) == int or type(j) == float:
                    l.append(j)
        elif type(i)==int or type(i)==float:
            l.append(i)
    return l

In [31]:
test8(l)

[1, 4, 6, 7.3, 3, 12, 5]

In [32]:
l

[1, 4, 6, 7.3, True, 'pwskills', [3, 12, 5]]

In [33]:
test8()  
# By shift+tab we will not see any DOCSTRING i.e. function brief
# To do so let's see next cell

TypeError: test8() missing 1 required positional argument: 'lis'

In [34]:
def test9(lis):
    
    ''' This is my functions to extract all numeric data from list  '''
    
    l = []
    for i in lis:
        if type(i)==list:
            for j in i:
                if type(j) == int or type(j) == float:
                    l.append(j)
        elif type(i)==int or type(i)==float:
            l.append(i)
    return l

In [35]:
test9(l) # ( now on shift+tab here will give our comment as DOCSTRING to give an idea of function to user )

[1, 4, 6, 7.3, 3, 12, 5]

In [36]:
# dynamic argument passing
def test10(*argsName): # '*' is key to understand hereas it allows to pass multiple n number of arguments
    return argsName

In [37]:
test10()

()

In [38]:
test10(1,4,9)

(1, 4, 9)

In [39]:
test10(True, 'pwskills', [1,4,3], 90.302) # now we can pass n number of arguments to function

# it do so in form of tuple

(True, 'pwskills', [1, 4, 3], 90.302)

In [40]:
def test11(*argVar, a):
    return a

In [41]:
test11(1,3,5,3) # error as it will confuse with assigning which argument to which in our function

TypeError: test11() missing 1 required keyword-only argument: 'a'

In [42]:
test11(1,4,2,4, a=90) # now here will be no error

90

In [43]:
def test12(c,d, a=90, b=8.9):
    return a,b,c,d

In [44]:
test12(87,12)

(90, 8.9, 87, 12)

In [45]:
def test13(a, b=90, c, d=8.9):
    return a,b,c,d

SyntaxError: non-default argument follows default argument (4013953636.py, line 1)

In [46]:
test12(5,9,a=67) # can override default value of argument

(67, 8.9, 5, 9)

In [47]:
# keyword args
# for key-value pair form
def test14(**kwargsVar):
    return kwargsVar

In [48]:
type(test14())

dict

In [49]:
test14(a=[1,4,3], b = 'pwskills', c = 98.75)

{'a': [1, 4, 3], 'b': 'pwskills', 'c': 98.75}

In [50]:
dictVar = test14(a=[1,4,3], b = 'pwskills', c = 98.75)

In [51]:
dictVar

{'a': [1, 4, 3], 'b': 'pwskills', 'c': 98.75}