## Dictionary

In [1]:
dict1 = {}
print(type(dict1))

<class 'dict'>

In [2]:
dict1 = {1,4,5,'pw'} # inserting linear data
type(dict1)

set

In [3]:
dict1 = {'key' : "pwSkills"} 

# key should be always unique else it will upgrade it

In [4]:
dict1

{'key': 'pwSkills'}

In [5]:
dict2 = {"Name":"Vaibhav", "E-mail":"support@pwskills.com", 'Platform':'PwSkills', 'Score': 97.50}

In [6]:
dict2

{'Name': 'Vaibhav',
 'E-mail': 'support@pwskills.com',
 'Platform': 'PwSkills',
 'Score': 97.5}

In [7]:
dict3 = {1:"one", 2:"two"}
print(dict3)

{1: 'one', 2: 'two'}

In [8]:
d = { @ : "value" }

SyntaxError: invalid syntax (2113675365.py, line 1)

In [9]:
d4 = { '@' : "value" }

In [10]:
d4

{'@': 'value'}

In [11]:
d5 = {_k : 56}

NameError: name '_k' is not defined

In [12]:
d5 = {'_k' : 56}
d5

{'_k': 56}

In [13]:
d6 = {True: "value"}
d6

{True: 'value'}

In [14]:
dict2

{'Name': 'Vaibhav',
 'E-mail': 'support@pwskills.com',
 'Platform': 'PwSkills',
 'Score': 97.5}

In [15]:
dict2[0]

KeyError: 0

In [16]:
dict2['Name']

'Vaibhav'

In [17]:
dict2['name'] #case sensitive

KeyError: 'name'

So indexing and slicing isn't like list or string

In [18]:
dict2['Score']

97.5

In [19]:
dict2[1]

KeyError: 1

In [20]:
d6[True]

'value'

In [21]:
d6[1] #true -> 1

'value'

In [22]:
dict3[2]

'two'

In [23]:
dict5 = {'name':"element1", "value":345, 'name':"element2"}

In [24]:
dict5['name'] # for similar/repetitive key the last one will be fetched

'element2'

That's why key should be unique else it will override with last value

In [25]:
dict6 = {'company':"pwskills", 'course':['data science', 'webD', 'java']}
dict6

{'company': 'pwskills', 'course': ['data science', 'webD', 'java']}

In [26]:
dict6['course']

['data science', 'webD', 'java']

In [27]:
dict6['course'][2]

'java'

In [28]:
dict6['course'][0]

'data science'

In [29]:
dict7 = {'number':[34,23,35,29], 'assignment':(3,1,4,2), 'launch_date':{'28-02-23','02-03-23','05-03-23','09-03-23'}}
dict7

{'number': [34, 23, 35, 29],
 'assignment': (3, 1, 4, 2),
 'launch_date': {'02-03-23', '05-03-23', '09-03-23', '28-02-23'}}

In [30]:
dict8 = {"class timing":{'webD':"3pm", 'data science':'6pm', 'java':'10am'}}
dict8 # nested dictionary

{'class timing': {'webD': '3pm', 'data science': '6pm', 'java': '10am'}}

In [31]:
dict8['class timing']

{'webD': '3pm', 'data science': '6pm', 'java': '10am'}

In [32]:
dict8['class timing']['java']

'10am'

In [33]:
# adding a new key pair in dictionaty
dict8['Mentor'] = ['instructor1', 'instructor2', 'instructor3', 'instructor4']

In [34]:
dict8

{'class timing': {'webD': '3pm', 'data science': '6pm', 'java': '10am'},
 'Mentor': ['instructor1', 'instructor2', 'instructor3', 'instructor4']}

If ney key is already in the dictionay then it will update/overwrite it else it will add this new key

In [35]:
# adding a new key pair in dictionaty
dict8['Mentor 00'] = ['instructor1', 'instructor2', 'instructor3', 'instructor4']
dict8

{'class timing': {'webD': '3pm', 'data science': '6pm', 'java': '10am'},
 'Mentor': ['instructor1', 'instructor2', 'instructor3', 'instructor4'],
 'Mentor 00': ['instructor1', 'instructor2', 'instructor3', 'instructor4']}

In [36]:
# removing a ey pair
del dict8['Mentor 00']

In [37]:
dict8

{'class timing': {'webD': '3pm', 'data science': '6pm', 'java': '10am'},
 'Mentor': ['instructor1', 'instructor2', 'instructor3', 'instructor4']}

In [38]:
# getting all keys in a dictionary
dict8.keys()

dict_keys(['class timing', 'Mentor'])

In [39]:
print(dict6.keys())

dict_keys(['company', 'course'])

In [40]:
list(dict8.keys())

['class timing', 'Mentor']

In [41]:
# getting all values
dict8.values()

dict_values([{'webD': '3pm', 'data science': '6pm', 'java': '10am'}, ['instructor1', 'instructor2', 'instructor3', 'instructor4']])

In [42]:
dict8.items()

dict_items([('class timing', {'webD': '3pm', 'data science': '6pm', 'java': '10am'}), ('Mentor', ['instructor1', 'instructor2', 'instructor3', 'instructor4'])])

In [43]:
list(dict8.items())

[('class timing', {'webD': '3pm', 'data science': '6pm', 'java': '10am'}),
 ('Mentor', ['instructor1', 'instructor2', 'instructor3', 'instructor4'])]

In this list these are in tuples form holding key-value pair

In [44]:
list(dict5.items())

[('name', 'element2'), ('value', 345)]

In [45]:
dict5.pop()
dict5

TypeError: pop expected at least 1 argument, got 0

In [46]:
dict5.pop('value')

345

In [47]:
dict5

{'name': 'element2'}

In [48]:
dict6

{'company': 'pwskills', 'course': ['data science', 'webD', 'java']}

### Dictionary is mutable

## Control flow

If-else statement

In [49]:
if marks >= 90 :
    print("Congrats!!! You're eligible to be a member of elite group")

NameError: name 'marks' is not defined

In [50]:
if marks >= 90 :
print("Congrats!!! You're eligible to be a member of elite group")

# error due to indentation

IndentationError: expected an indented block after 'if' statement on line 1 (2574344775.py, line 2)

In [52]:
# marks = 97
# getting input from user
marks = float(input("Enter your marks please...")) # but the problem is that input() function treat data as string by default
# That's why we have to do typecasting

if marks >= 90 :
    print("Congrats!!! You're eligible to be a member of elite group")
elif marks >= 75 and marks < 90:
    print("Congrats!!! You're in gold batch")
elif marks > 40 and marks <75 :
    print("Try hard next time...")
else:
    print("You sure have to study more!!!")

Enter your marks please... 97

Congrats!!! You're eligible to be a member of elite group

In [53]:
print('value = ',marks, '\ntype = ',type(marks))

value =  97.0
type =  <class 'float'>

In [54]:
price = int(input("Enter the price"))

if price > 1000:
    print("Save money!!!")
else:
    print("Todi shopping to chalti h")
    
# elif is not mandetory

Enter the price 900

Todi shopping to chalti h

In [55]:
price = int(input("Enter the price"))

if price > 1000:
    print("Save money!!!")
    
# else is optional

Enter the price 1099

Save money!!!

In [56]:
price = int(input("Enter the price"))

if price > 1000:
    print("Save money!!!")
    if price > 3000:
        print("It's too expensive")
else :
    print("Let's buy it")

Enter the price 5999

Save money!!!
It's too expensive

In [57]:
price = int(input("Enter the price"))

if price > 1000:
    print("Save money!!!")
    if price > 3000:
        print("It's too expensive")
    else:
        print("Try to look for alternative")   # nested if-else
elif price < 100 :
    print("Check quality")
else :
    print("Let's buy it")

Enter the price 2499

Save money!!!
Try to look for alternative

## LOOP

In [58]:
l = [1,22,3,4,15,6,79,8,32]

In [59]:
# adding 1 to each element in list'l'
for i in l :      # here i is temp var to store element in that iteration and 'l' is iterable var 
    print(i)

1
22
3
4
15
6
79
8
32

In [60]:
for i in l :
    print(i+1)

2
23
4
5
16
7
80
9
33

In [61]:
print(l)
l1 = []
for i in l :
    l1.append(i+1)  # here append is more suitable than insert or extend
print(l1)

[1, 22, 3, 4, 15, 6, 79, 8, 32]
[2, 23, 4, 5, 16, 7, 80, 9, 33]

In [62]:
l2 = ["PW", "Gate", "pwskills", 'data science masters']
l2

['PW', 'Gate', 'pwskills', 'data science masters']

In [63]:
# now we want to convert each char of elements of list l2 to upper-case
for i in l2:
    print(i)

PW
Gate
pwskills
data science masters

In [64]:
for i in l2:
    print(i.upper())

PW
GATE
PWSKILLS
DATA SCIENCE MASTERS

In [65]:
print(l2)
l3 = []
for i in l2:
    l3.append(i.upper())
    
print(l3)

['PW', 'Gate', 'pwskills', 'data science masters']
['PW', 'GATE', 'PWSKILLS', 'DATA SCIENCE MASTERS']

In [66]:
l4 = [1,4,2,7,99, 'a', 'd', 'poly', 90.89, 672.34213]
l4

[1, 4, 2, 7, 99, 'a', 'd', 'poly', 90.89, 672.34213]

In [67]:
# Now we want to separate l4 in two lists having similar data in them (seperate numeric and strings)
for i in l4:
    print(i)

1
4
2
7
99
a
d
poly
90.89
672.34213

In [68]:
num_part = []
str_part = []
for data in l4 :
    if type(data) == int or type(data) == float :
        num_part.append(data)
    elif type(data) == str :
        str_part.append(data)
    else:
        print("Data is neighter numeric nor string")
        
print(num_part)
print('\n',str_part)

[1, 4, 2, 7, 99, 90.89, 672.34213]

 ['a', 'd', 'poly']

In [69]:
l5 = [2, 4, 4.49, 9.12, True, 'True', [False, 3, 8, 'PW'], (5, 8)]

In [70]:
num_part = []
str_part = []
for data in l5 :
    if type(data) == int or type(data) == float :
        num_part.append(data)
    elif type(data) == str :
        str_part.append(data)
    else:
        print("Data ",data," is neighter numeric nor string")
        
print(num_part)
print('\n',str_part)

Data  True  is neighter numeric nor string
Data  [False, 3, 8, 'PW']  is neighter numeric nor string
Data  (5, 8)  is neighter numeric nor string
[2, 4, 4.49, 9.12]

 ['True']